<header class="header">
      <div class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-5">
          <a class="header__logo" href="index.html">
            <img class="header__logo-img" src="img/logo.svg" alt="POLE PANTHERS">
            <div class="header__logo-text">Студия танца и спорта на пилоне</div>
          </a>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-7">
          <nav class="main-nav main-nav--opened main-nav--no-js">
            <button class="main-nav__toggle" type="button"><span class="visually-hidden">Показать/скрыть меню</span></button>
            <ul class="main-menu ul-reset">
              <li class="main-menu__item">
                <a href="index.html">Главная</a>
              </li>
              <li class="main-menu__item">
                <a href="beginners.html">Новичкам</a>
              </li>
              <li class="main-menu__item">
                <a href="directions.html">Направления</a>
              </li>
              <li class="main-menu__item">
                <a href="schedule.html">Расписание и цены</a>
              </li>
              <li class="main-menu__item main-menu__item--active">
                <a href="">О нас</a>
                <ul class="main-menu__submenu ul-reset">
                  <li class="main-menu__submenu-item">
                    <a href="trainers.html">Тренеры</a>
                  </li>
                  <li class="main-menu__submenu-item main-menu__submenu-item--active">
                    <a href="gallery.html">Галерея</a>
                  </li>
                  <li class="main-menu__submenu-item">
                    <a href="rules.html">Правила студии</a>
                  </li>
                  <li class="main-menu__submenu-item">
                    <a href="">События</a>
                  </li>
                </ul>
              </li>
              <li class="main-menu__item">
                <a href="shop.html">Магазин</a>
                <ul class="main-menu__submenu ul-reset">
                  <li class="main-menu__submenu-item">
                    <a href="">Заказ</a>
                  </li>
                </ul>
              </li>
              <li class="main-menu__item">
                <a href="contacts.html">Контакты</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
