<div class="subscription">
      <div class="subscription__title">Оставайтесь в курсе</div>
      <div class="subscription__descr">Подписывайтесь на наши сотсети, чтобы получать новости и уведомления</div>
      <form class="subscription__form">
        <input class="subscription__field" type="text" placeholder="Имя">
        <input class="subscription__field" type="text" placeholder="Фамилия">
        <input class="subscription__field" type="email" placeholder="Ваш e-mail" required>
        <button class="subscription__submit button" type="submit">Подписаться</button>
      </form>
      <div class="subscription__note">Мы уважаем вашу конфиденциальность</div>
    </div>
