.home-info {
  border-bottom: 1px solid $main-color;
  padding-bottom: 20px;
  font-weight: 300;
}

.home-info__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.home-info__slogan {
  font-size: 30px;
}

.home-info__text {
  margin-bottom: 15px;
}

.home-info__link {
  display: inline-block;
  text-decoration: none;
  background-color: $main-color;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 17px;
  padding: 5px 25px;
  transition: 0.25s;

  &:hover {
    opacity: 0.8;
  }
}
