.main-nav {
  position: relative;
}

.main-nav__toggle {
  display: none;
  width: 30px;
  height: 30px;
  margin-left: auto;
  background-color: transparent;
  border: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 22px;
}

.main-nav--closed .main-nav__toggle {
  background-image: url("../img/icon-menu-open.svg");
}

.main-nav--opened .main-nav__toggle {
  background-image: url("../img/icon-menu-close.svg");
}

@media (max-width: 991px) {
  .main-nav:not(.main-nav--no-js) {
    padding-bottom: 10px;

    .main-nav__toggle {
      display: block;
    }
  }
}
