.other-products {
  border-bottom: 1px solid $main-color;
  padding-bottom: 35px;
}

.other-products__title {
  font-weight: normal;
  font-size: 26px;
  margin-top: 0;
}

@media (max-width: 991px) {
  .other-products__item {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .product__order {
    margin-top: 15px;
  }

  .other-products__title {
    font-size: 22px;
  }
}
