.prices {
  border-bottom: 1px solid $main-color;
}

.prices__title {
  margin-bottom: 15px;
}

.prices__descr {
  font-size: 18px;
  font-weight: 300;
  color: #000000;
  text-align: center;
  margin-bottom: 30px;
}

.prices__row {
  margin-bottom: 20px;
}

.prices__card {
  margin-bottom: 30px;
}
