.social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.social__item {
  margin: 0 5px;

  a {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $text-color;
    color: inherit;
    text-decoration: none;
    transition: 0.25s;

    svg path {
      transition: 0.25s;
    }

    &:hover {
      border-color: $main-color;

      svg path {
        fill: $main-color;
      }
    }

    svg {
      margin: auto;
    }
  }
}
